/* -----------------ESTUDIO.html------------------*/

/*TITULO*/




.articulo-arquitecta{
    display: flexbox;
    

}

.formacion{
    h2{
        color:  rgb(34, 34, 34);
        font-size: 2rem;
    }
    article{
        border: 2px solid #6b1e1e; 
        padding: 10px;
        margin: 10px; 
        margin-bottom: 50px;
        border-radius: 5px; 
        background-color: #5f1818;
        box-shadow: 15px 15px 15px  lighten(rgb(94, 86, 86), 10%);;
    }
    article h2{
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.5rem;
        color: white;
    }
    article p {
        padding-left: 15px;
        padding-right: 15px;
        text-align: justify;
        font-size: 1.2rem;
        color: white;
    }
    .accordion{
        h2{
            font-size: 1.5rem;
        }
    }
}

.estudio{
    display: flex;
    background-color: rgb(34, 34, 34);
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    div p{
        color: white;
        padding: 25px;
        font-family: "Comfortaa", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-size: 18px;
        font-style: italic;
        line-height: 25px;
    }
}





